
.container {
	background-color: #dbd7cc;
	min-width: 80.8%;
	min-height: 100%;
    height: auto;
		}

.header {
	background-image: url("C:/projects/englishrussia/assets/images/headercolor.PNG");
	padding-top: 20px;
	padding-left: 30px;
	font-family: Georgia,"Times New Roman",Times,serif;
	color: yellow;
	margin-top: -20px;
	margin-left: -13px;
	width: 1226px;
	height: 160px;	
		}

.symbol {
	margin-top: -140px;
	margin-left: 170px;
	}

.centerimage {
	margin-top: -140px;
	margin-left: 350px;
	padding-top: 10px;
	padding-bottom: 10px;
	}

.textcontent {
	margin-top: -125px;
	margin-left: 745px;
	font-family: Georgia,"Times New Roman",Times,serif;
	color: yellow;
	}

.info {
	margin-top: -120px;
	margin-left: 940px;
	}

.rss {
	margin-top: 15px;
	margin-right: 80px;
	padding: 2;
	float: right;
	}

.email {
	margin-top: 15px;
	padding: 2;
	float: right;
	}

.facebook {
	margin-top: 15px;
	padding: 2;
 	float: right;
	}

.twitter {
	margin-top: 15px;
	padding: 2;
	float: right;
	}

.words {
	color: yellow;
	margin-top: 45px;
	margin-left: 1000px;
	}

.date {
	color: yellow;
	margin-top: -4px;
	margin-left: 1020px;
	}

.navbar {
	color: beige;
	margin-top: 0px;
	margin-left: -30px;
	padding-top: 1px;
	width: 1226px;
	border-radius: 0 !important;
		}

#rss {
	background-color: #5a3113;
	margin-right: -22px;
}

#email {
	background-color: #5a3113;
}

#facebook {
	background-color: #5a3113;
}

#twitter {
	background-color: #5a3113;
}

#search {
	background-color: maroon;
	float: right;
	margin-right: -17px;
	margin-top: -1px;
	height: 25px;
    width: 450px;
	}

#join {
	background-color: maroon;
	float: right;
	margin-right: -1px;
	margin-top: -1px;
	height: 25px;
    width: 130px;
	}

#facebooknav {
	background-color: maroon;
	float: right;
	margin-right: 561px;
	margin-top: -25px;
	height: 25px;
    width: 130px;
	}

#youtube {
	background-color: maroon;
	float: right;
	margin-right: 690px;
	margin-top: -25px;
	height: 25px;
    width: 130px;
	}

#about {
	background-color: maroon;
	float: right;
	margin-right: 819px;
	margin-top: -25px;
	height: 25px;
    width: 130px;
	}

#login {
	background-color: maroon;
	float: right;
	margin-right: 949px;
	margin-top: -25px;
	height: 25px;
    width: 130px;
	}

#home {
	background-color: maroon;
	margin-top: -1px;
	margin-left: 15px;
	height: 25px;
    width: 130px;
	}

.article1 {
	margin-top: -27px;
	margin-left: 2px;
	font: 13px tahoma;
	font-weight: bold;
	}

.article2 {
	margin-top: -27px;
	margin-left: 2px;
	font: 13px tahoma;
	font-weight: bold;
	}

.article3 {
	margin-top: -27px;
	margin-left: 2px;
	font: 13px tahoma;
	font-weight: bold;
	}

.article4 {
	margin-top: -27px;
	margin-left: 2px;
	font: 13px tahoma;
	font-weight: bold;
	}

.article5 {
	margin-top: -27px;
	margin-left: 2px;
	font: 13px tahoma;
	font-weight: bold;
	}

.article6 {
	margin-top: -27px;
	margin-left: 2px;
	font: 13px tahoma;
	font-weight: bold;
	}

.col-md-1 {
	border-right: solid;
	border-width: 1px;
		}

.cattitle {
	border-top: solid;
	margin-top: -25px;
	margin-left: -42px;
	border-width: 1px;
	border-bottom: double;
	}

.categories {
	margin-left: -55px;
	margin-top: 5px;
	list-style-type: none;
	font-size: 11px;
	line-height: 22px;
		}

.arctitle {
	margin-left: -35px;
	}

.archive {
	margin-left: -55px;
	margin-top: 5px;
	padding-top: 5px;
	border-top: double;
	border-bottom: double;
	list-style-type: none;
	font-size: 11px;
	line-height: 22px;
		}

.col-md-3 {
	margin-top: -10px;
		}

.randposts {
	background-image: url("C:/projects/englishrussia/assets/images/black.jpg");
	height: 50px;
    width: 270px;
	text-align: center;
	padding-top: 8px;
	margin-top: -10px;
	color: white;
		}

.popweek {
	text-align: center;
	border-bottom: double;
		}

.trending {
	margin-top: -15px;
		}

.pagenav {
	border-top: groove;
	border-bottom: -5px;
		}

.footer {
	background-image: url("C:/projects/englishrussia/assets/images/footer.PNG");
	color: yellow;
	bottom: 0;
	margin-left: 146px;
	padding-top: 5px;
	padding-left: 15px;
	width: 1227px;
	height: 90px;	
	}




